<%- include("header.ejs") %>

<body>
    <main>
        <form method="POST">
            <input type="text" name="_id" value="<%= updateTodo._id %>" hidden>
            <input type="text" name="text" value="<%= updateTodo.text %>" required>
            <button type="submit">Update</button>
        </form>
    </main>
</body>